extends ../layouts/default
block css
  link(rel="stylesheet" href="js/flipclock/css/flipclock.css")
  link(rel="stylesheet" href="styles/custom/custom-index.css")
block content
  // NEED TO POPULATE WITH MORE CONTENT, AND FIGURE OUT HOW TO
  // MAKE BACKGROUND IMAGE OVER ENTIRE PAGE. ONLY DOING HALF RN
  div#snowfall.container
    h1 Good Vibes Central!
    br
    br
    div.row
      div.center-block
        div.countdown-clock.center
    br
    br
    div.row
      div.col-md-4
        h1 Lights All Night Tickets!
        p Lights All Night is coming up, get your tickets 
          a(href="https://www.eventbrite.com/e/lights-all-night-2015-tickets-14712598779") here!
      div.col-md-4
        h1 Other stuff
        p Looking to see some of our pictures? Check out our 
          a(href="/gallery") gallery!
        p If you're part of Good Vibes Central, feel free to 
          a(href="/keystone/signin") sign in 
          to add more to the pictures, or our 
          a(href="/blog") blog. 
        p Also, if you have any questions or suggestions for the site, feel free to ask any one of the GVC crew!
          
      div.col-md-4
        h1 Decadence!
        p Decadence is coming up, get your tickets 
          a(href="http://www.axs.com/events/268533/decadence-2-day-pass-tickets/promopage/3483?skin=ccc") here!
block js
  // Adding countdown timer
  script(src="js/flipclock/js/flipclock/flipclock.min.js" type="text/javascript")
  // Where the code to set the countdown timer is located
  script.
    $(document).ready(function() {
        var currentDate = new Date();
        var futureDate  = new Date(currentDate.getFullYear() + 1, 0, 1);
        var diff = futureDate.getTime() / 1000 - currentDate.getTime() / 1000;
        clock = $('.countdown-clock').FlipClock(diff, {
            clockFace: 'DailyCounter',
          countdown: true
        });
      });
  script(src="js/blizzard-builder/canvas-snow.js")
  script.
    var falling = new Blizzard('snowfall');
      
