/* FOR INDEX PAGE */
.background-container {
  background-image: url("../../images/full.jpg");
  height: 100%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.container {
    text-align: center;
    position: relative;
    width: 100%;
    margin: 1em;
}
.countdown-clock {
  display: table-cell;
  vertical-align: bottom;
  text-align: center;
  position: relative;
}
body {
  color: white;
}
a {
  color: #ccccff;
}
